/* Nav bar */

nav ul {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-right: 1px solid rgb(5, 125, 194);
    padding: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

ul li:last-child {
  border-right: none;
}

/* Content on all webpages */

body {
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url(./img/Starsbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    width: 99%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.intro {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
}

.intro h1 {
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: none;
    border-right: none;
    font-size: 38px;
    color: rgb(5, 125, 194);
}

.intro  p {
    font-size: 20px;
    margin-top: -1%;
}

.about {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.about h1 {
    border-bottom: rgb(5, 125, 194) solid 1px;
    padding: 20px;
    color:rgb(5, 125, 194);
    font-size: 40px;
}

.about p {
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 2em;
    font-size: 20px;
    max-width: 50%;
}

.img {
    display: flex;
    gap: 10px;
    justify-content: center;
}

table.education {
    width: auto;
    max-width: 800px;                 
    border-collapse: collapse;    
    font-size: 18px;
    border: 1px solid rgb(5, 125, 194);
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}      

table.education th,
table.education td {
    padding: 12px 16px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(137, 43, 226, 0.6);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px rgb(5, 125, 194);
    margin: 5px;
}

/* Form */

form {
  max-width: 300px;            
  margin: 40px auto;           
  padding: 20px;
  border: 1px ridge rgb(5, 125, 194);
  border-radius: 8px;
}
label {
  display: block;
  margin-top: 10px;
  color: white;
}

input[type="submit"] {
    cursor: pointer;
    padding: 5px 10px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: auto;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

footer p a {
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

footer #github {
    border-right: solid rgb(5, 125, 194) 1px;
}
